<h1 class="page-title"><b>List of Top 5 Best offensive teams (teams who scored the maximum number of points home and away combined)</b></h1>

<div class="page-wrapper">
    <table class="authors-table">
        <tr>
            <th>No.</th>
            <th>Team name</th>
            <th>Top score</th>
        </tr>

        <tr *ngFor="let team of bestOffensive; index as i">
            <td>{{ i + 1 }}</td>
            <td>{{ team.name }}</td>
            <td>{{ team.totalPoints }}</td>
        </tr>
    </table>
</div>
