@import "src/styles";

.page-wrapper {
    width: 75%;
    max-width: 750px;
  }

  .button-wrapper {
    margin: 5px;
  }

  .btn:hover {
    text-align: center;
    display: inline-block;
    border-radius: 4px;
    width: max-content;
    cursor: pointer;
  }

  th,
  td {
    text-align: left;
    padding: 1rem 1.5rem;
  }