@import "src/styles";

.page-wrapper {
    width: 40%;
    max-width: 750px;
  }

  .page-title {
    color: greenyellow;
    backdrop-filter: blur(55px);
  }
  
  th,
  td {
    text-align: left;
    padding: 1rem 1.5rem;
  }