<h1 class="page-title"><b>List of all Basketball Teams (alphabetical order)</b></h1>

<div class="page-wrapper">
    <table class="authors-table">
        <tr>
            <th>No.</th>
            <th>Team name</th>
        </tr>

        <tr *ngFor="let team of teams; index as i">
            <td>{{ i + 1 }}</td>
            <td>{{ team.name }}</td>
        </tr>

        <div class="button-wrapper">
            <button type="button" class="btn" routerLink="/get-teams-desc" routerLinkActive="active">
                Sort Z-A
            </button>
        </div>
    </table>
</div>
